@media (max-width: 1170px) {
	.container {
		max-width: 960px;

	}
	.promo {
		img:first-child {
			width: 100% !important;
		}
	}
	
}
@media (max-width: 960px) {
	.container {
		max-width: 768px;
	}
	.promo {
		display: none;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 590px;
	}
	.buttons {
		flex-direction: column;
		align-items: center;
	}
	.block {
		flex-direction: column;
	}
	input {
		margin-top: 5px;
	}
	button {
		margin-top: 5px;
	}	
}
@media (max-width: 590px) {
	.container {
		max-width: 452px;
	}
	.radiobattons {
		flex-direction: column;
	}
	.radio {
		margin-top: 10px;
	}
}